<div class="container">
  <div class="row">
    <div class="col-xs-3 col-sm-3 col-md-3">{{ event.name }}</div>
    <div class="col-xs-3 col-sm-3 col-md-3">{{ event.createDate }}</div>
    <div class="col-xs-3 col-sm-3 col-md-3"></div>
    <div class="col-xs-3 col-sm-3 col-md-3">
      <div class="btn-group" appDropdown>
        <button
          type="button"
          class="btn btn-default btn-sm dropdown-toggle">
          Manage<span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a href="#">View</a></li>
          <li><a href="#">Edit</a></li>
          <li><a href="#">Remove</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
