<div class="row">
  <div class="col-xs-3">{{ event.name }}</div>
  <div class="col-xs-3"></div>
  <div class="col-xs-3"></div>
  <div class="col-xs-3">
    <div class="btn-group" appDropdown>
      <button
        type="button"
        class="btn btn-primary dropdown-toggle">
        Manage<span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="#">View</a></li>
        <li><a href="#">Edit</a></li>
        <li><a href="#">Remove</a></li>
      </ul>
    </div>
    <!--
    <div class="btn-group">
      <button
        type="button"
        class="btn btn-default">
        View
      </button>
    </div>
    -->
  </div>
</div>
