<div class="container">
  <h3>servers works!</h3>
  <form serverForm role="form">
    <div class="form-group row">
      <div class="col-xs-2">
        <label for="serverName">Server Name</label>
        <input type="text" class="form-control input-sm" name="serverName" [(ngModel)]="serverName">
      </div>
    </div>
  </form>
  <button class="btn btn-primary" [disabled]="!allowNewServer" (click)="onCreateServer()">
    Add Server
  </button>
  <!-- <p [innerText]="allowNewServer"></p> -->
  <!-- <p>{{ serverCreationStatus }}</p> -->
  <!-- * means structural directive -->
  <p *ngIf="serverCreated; else noServer">Server was created! Server name is {{ serverName }}</p>
  <!--
  <ng-template #noServer>
    <p>No server was created.</p>
  </ng-template>
  -->
  <p *ngIf="!serverCreated">No server was created!</p>
</div>

<div class="container" *ngFor="let s of servers; let i = index">
  <app-server [server]="s"></app-server>
</div>

